---
import { Icon } from "astro-icon/components";
import { Mail } from "lucide-astro";
import { Image } from "astro:assets";
import { Button } from "./ui/button";
import { CardContent, Card } from "./ui/card";
import { Badge } from "./ui/badge";
import { Github } from "lucide-react";
const socialLinks = [
  {
    name: "TikTok",
    icon: "tiktoknegro",
    url: "https://www.tiktok.com/@juliox.dev",
  },
  {
    name: "YouTube",
    icon: "mdi:youtube",
    url: "https://www.youtube.com/@DevJulio",
  },
  { name: "Github", icon: "mdi:github", url: "https://github.com/DevJuliox" },
  {
    name: "Twitch",
    icon: "mdi:twitch",
    url: "https://www.twitch.tv/julioxdev",
  },
];

const categories = [
  {
    name: "Discord",
    link: "https://discord.gg/3nh3yJWuJU",
    description: "Unete a la comunidad de Discord",
    icon: "mdi:discord",
  },
];

const cursos = [
  {
    name: "Lives de Coppelbot",
    link: "https://www.youtube.com/watch?v=HrRSNoTvr4M&list=PLX25HjIQq0X6Iqi-07UoVl_vECQ8ijRTk&index=1",
    description: "Creamos un chatbot que nos muestra productos de Coppel",
    icon: "mdi:youtube",
  },
  {
    name: "30 Días de Python",
    link: "https://www.youtube.com/watch?v=xPpfzzH5JK0&list=PLX25HjIQq0X7xE3vHvnwXI3a3OTDdysZJ&index=1",
    description: "Aprende Python desde cero",
    icon: "mdi:youtube",
  },
  {
    name: "🔥Guía definitiva imágenes en tu página web",
    link: "https://www.youtube.com/watch?v=NYH1akROptM",
    description: "Aprende a colocar imágenes en html de manera correcta",
    icon: "mdi:youtube",
  },
];

const projects = [
  {
    name: "Finance Bot",
    icon: "📦",
    description: "",
    tech: ["Shadcn", "Next.js", "Tailwind CSS", "PostgreSQL", "Drizzle"],
    link: "https://www.kakeibotapp.com/",
    github: false,
  },
  {
    name: "Poke api",
    icon: "",
    description: "",
    tech: ["Framer", "Next.js", "Css modules"],
    link: "https://github.com/DevJuliox/poke-app",
    github: true,
  },
  {
    name: "Imagenes en html",
    icon: "",
    description: "",
    tech: ["HTML", "Css"],
    link: "https://github.com/DevJuliox/imagenes-en-html",
    github: true,
  },
];
---

<div class="">
  <div class="max-w-2xl mx-auto p-4">
    {/* Header */}

    {/* Profile Section */}
    <div class="mb-8">
      <div class="mb-8 flex gap-6">
        <div class="relative aspect-[3/2] overflow-hidden">
          <Image
            src="/images/juliox.png"
            alt="Julio C."
            width={40}
            height={40}
            class="rounded-full object-cover aspect-square"
          />
        </div>
        <div>
          <h1 class="text-xl font-bold mb-1">Julio C.</h1>
          <!-- <p class="mb-2">Programador web, entusiasta de la AI</p> -->
          <a href="mailto:julioxdev@gmail.com" class="inline-flex items-center">
            <Mail size="20" name="mdi:email" class="w-4 h-4 mr-1" />
            julioxdev@gmail.com
          </a>
          {/* Social Links */}
          <div class="flex mt-2 flex-wrap justify-between gap-6 items-center">
            {
              socialLinks.map((link) => (
                <a
                  href={link.url}
                  class=""
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <Icon size={20} name={link.icon} />
                  {/* <div class="">{link.name}</div> */}
                </a>
              ))
            }
          </div>
        </div>
      </div>
      <p class="mb-8">
        ¡Hola, soy <span class="font-semibold">Julio</span>! Desarrollador web
        especializado en chatbots con interfaces interactivas y diversos LLM.
        Realizo lives para compartir conocimientos y explorar las últimas
        tendencias tecnológicas, siempre enfocado en transformar ideas en
        soluciones digitales innovadoras.
      </p>
      {/* Stats */}
      <!-- <div class="grid grid-cols-1 gap-4 mb-8">
        <div>
          <div class="text-xl font-bold">20k</div>
          <div class="">Followers</div>
        </div>
      </div> -->

      {/* Categories */}
      <!-- <h2 class="text-xl font-bold mb-2">Comunidad</h2>
      <div class="flex flex-col justify-center gap-3 mb-8">
        {
          categories.map((category) => (
            <a
              href={category.link}
              class="border-2 border-orange-300 p-4 rounded-lg hover:bg-black/50 transition-colors grid grid-cols-[auto_1fr] items-center"
              target="_blank"
            >
              <div class="w-12 flex justify-center">
                {category.icon && <Icon size={36} name={category.icon} />}
              </div>
              <div class="ml-4">
                <h3 class="font-medium text-lg">{category.name}</h3>
                <div class="">{category.description}</div>
              </div>
            </a>
          ))
        }
      </div> -->

      {/* Posts */}
      <section class="space-y-6 mb-8">
        <h2 class="text-lg font-semibold">Comunidad</h2>
        {
          categories.map((category) => {
            return (
              <Card className="bg-card  transition-colors">
                <CardContent className="p-6 space-y-4">
                  <h3 class="text-xl font-medium">{category.name} </h3>
                  <p class="text-muted-foreground">{category.description}</p>
                  <div class="flex items-center gap-4 text-sm text-muted-foreground">
                    {/* <span>Tutorial</span>
                    <span>May 31, 2024</span> */}
                    <a
                      href={category.link}
                      class="ml-auto px-4 py-2 hover:bg-accent/50 rounded-lg transition-colors"
                    >
                      Unirme →
                    </a>
                  </div>
                </CardContent>
              </Card>
            );
          })
        }
      </section>

      {/* Projects */}
      <section class="space-y-6 mb-8">
        <div class="flex justify-between items-center">
          <h2 class="text-lg font-semibold">Proyectos</h2>
          <!-- <a>
            More <span class="ml-2">→</span>
          </a> -->
        </div>

        <div class="grid md:grid-cols-2 gap-4">
          {
            projects.map((project) => (
              <Card key={project.name} className="bg-card">
                <CardContent className="p-6 space-y-4">
                  <div class="flex justify-between items-start">
                    <a href={project.link} class="flex items-center gap-2">
                      {project.icon}
                      <h3 class="text-lg font-medium hover:underline cursor-pointer">
                        {project.name} →
                      </h3>
                    </a>
                    {project.github && (
                      <a
                        href={project.link}
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        <Github className="h-5 w-5" />
                      </a>
                    )}
                  </div>
                  <p class="text-muted-foreground">{project.description}</p>
                  <div class="flex flex-wrap gap-2">
                    {project.tech.map((tech) => (
                      <Badge variant="secondary">{tech}</Badge>
                    ))}
                  </div>
                </CardContent>
              </Card>
            ))
          }
        </div>
      </section>

      {/* Cursos */}
      <h2 class="text-lg font-bold mb-2">Cursos</h2>
      <div class="gap-3 flex flex-col justify-center mb-8">
        {
          cursos.map((category) => (
            <a
              href={category.link}
              class="border-2 border-orange-300 p-4 rounded-lg hover:bg-black/50 transition-colors grid grid-cols-[auto_1fr] items-center"
              target="_blank"
            >
              <div class="w-12 flex justify-center">
                {category.icon && <Icon size={36} name={category.icon} />}
              </div>
              <div class="ml-4">
                <h3 class="font-medium text-lg">{category.name}</h3>
                <div class="">{category.description}</div>
              </div>
            </a>
          ))
        }
      </div>

      {/* coffe */}
      <h2 class="text-lg font-bold mb-4">Buyme a Coffe</h2>
      <div class="flex flex-col justify-center gap-3 mb-8">
        <a
          href={"https://buymeacoffee.com/julioxdev"}
          class="border-2 border-orange-300 p-4 rounded-lg flex gap-4 items-center hover:bg-black/50 transition-colors"
          target="_blank"
        >
          <img
            src={"./images/image.png"}
            alt={"https://buymeacoffee.com/julioxdev"}
            class="w-10 h-10 object-cover rounded"
          />

          <div>
            <h3 class="font-medium text-lg">{"Para la bebida de los live"}</h3>
            <div class="">
              {"Para comprarme detalles y poder apoyar a la comunidad"}
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<style>
  [astro-icon] {
    color: white;
    width: 1.25rem;
    height: 1.25rem;
  }
</style>
