---
import { Icon } from "astro-icon/components";
import { Mail } from "lucide-astro";
import { Image } from "astro:assets";
const socialLinks = [
  {
    name: "TikTok",
    icon: "tiktoknegro",
    url: "https://www.tiktok.com/@juliox.dev",
  },
  {
    name: "YouTube",
    icon: "mdi:youtube",
    url: "https://www.youtube.com/@DevJulio",
  },
  { name: "Github", icon: "mdi:github", url: "https://github.com/DevJuliox" },
  {
    name: "Twitch",
    icon: "mdi:twitch",
    url: "https://www.twitch.tv/julioxdev",
  },
];

const categories = [
  {
    name: "Discord",
    link: "https://discord.gg/3nh3yJWuJU",
    description: "Unete a la comunidad de Discord",
    icon: "mdi:discord",
  },
];

const cursos = [
  {
    name: "Lives de Coppelbot",
    link: "https://www.youtube.com/watch?v=HrRSNoTvr4M&list=PLX25HjIQq0X6Iqi-07UoVl_vECQ8ijRTk&index=1",
    description: "Creamos un chatbot que nos muestra productos de Coppel",
    icon: "mdi:youtube",
  },
  {
    name: "30 D칤as de Python",
    link: "https://www.youtube.com/watch?v=xPpfzzH5JK0&list=PLX25HjIQq0X7xE3vHvnwXI3a3OTDdysZJ&index=1",
    description: "Aprende Python desde cero",
    icon: "mdi:youtube",
  },
  {
    name: "游댠Gu칤a definitiva im치genes en tu p치gina web",
    link: "https://www.youtube.com/watch?v=NYH1akROptM",
    description: "Aprende a colocar im치genes en html de manera correcta",
    icon: "mdi:youtube",
  },
];
---

<div class="">
  <div class="max-w-2xl mx-auto p-4">
    {/* Header */}

    {/* Profile Section */}
    <div class="mb-8">
      <div class="mb-4 flex gap-6">
        <div class="relative w-32 h-32">
          <Image
            src="/images/juliox.png?height=128&width=128"
            alt="Profile"
            width={128}
            height={128}
            class="rounded-full object-cover aspect-square"
          />
        </div>
        <div>
          <h1 class="text-3xl font-bold mb-1">Juliox.Dev</h1>
          <!-- <p class="mb-2">Programador web, entusiasta de la AI</p> -->
          <a href="mailto:julioxdev@gmail.com" class="inline-flex items-center">
            <Mail size="24" name="mdi:email" class="w-4 h-4 mr-1" />
            julioxdev@gmail.com
          </a>
          {/* Social Links */}
          <div class="flex mt-2 flex-wrap justify-between gap-6 items-center">
            {
              socialLinks.map((link) => (
                <a
                  href={link.url}
                  class=""
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <Icon size={24} name={link.icon} />
                  {/* <div class="">{link.name}</div> */}
                </a>
              ))
            }
          </div>
        </div>
      </div>
      <p class="my-4">
        Soy desarrollador web Full Stack especializado en crear experiencias
        digitales 칰nicas. Creamos contenido educativo sobre programaci칩n y
        tecnolog칤a, con streams diarios en TikTok, Twitch y YouTube donde
        compartimos conocimiento, coding sessions y las 칰ltimas tendencias en
        desarrollo web.
      </p>
      {/* Stats */}
      <div class="grid grid-cols-1 gap-4 mb-8">
        <div>
          <div class="text-xl font-bold">20k</div>
          <div class="">Followers</div>
        </div>
      </div>

      {/* Categories */}
      <h2 class="text-xl font-bold mb-2">Comunidad</h2>
      <div class="flex flex-col justify-center gap-3 mb-8">
        {
          categories.map((category) => (
            <a
              href={category.link}
              class="border-2 border-orange-300 p-4 rounded-lg hover:bg-black/50 transition-colors grid grid-cols-[auto_1fr] items-center"
              target="_blank"
            >
              <div class="w-12 flex justify-center">
                {category.icon && <Icon size={36} name={category.icon} />}
              </div>
              <div class="ml-4">
                <h3 class="font-medium text-lg">{category.name}</h3>
                <div class="">{category.description}</div>
              </div>
            </a>
          ))
        }
      </div>

      {/* Cursos */}
      <h2 class="text-xl font-bold mb-2">Cursos</h2>
      <div class="gap-3 flex flex-col justify-center mb-8">
        {
          cursos.map((category) => (
            <a
              href={category.link}
              class="border-2 border-orange-300 p-4 rounded-lg hover:bg-black/50 transition-colors grid grid-cols-[auto_1fr] items-center"
              target="_blank"
            >
              <div class="w-12 flex justify-center">
                {category.icon && <Icon size={36} name={category.icon} />}
              </div>
              <div class="ml-4">
                <h3 class="font-medium text-lg">{category.name}</h3>
                <div class="">{category.description}</div>
              </div>
            </a>
          ))
        }
      </div>

      {/* coffe */}
      <h2 class="text-xl font-bold mb-2">Buyme a Coffe</h2>
      <div class="flex flex-col justify-center gap-3 mb-8">
        <a
          href={"https://buymeacoffee.com/julioxdev"}
          class="border-2 border-orange-300 p-4 rounded-lg flex gap-4 items-center hover:bg-black/50 transition-colors"
          target="_blank"
        >
          <img
            src={"./images/image.png"}
            alt={"https://buymeacoffee.com/julioxdev"}
            class="w-10 h-10 object-cover rounded"
          />

          <div>
            <h3 class="font-medium text-lg">{"Para la bebida de los live"}</h3>
            <div class="">
              {"Para comprarme detalles y poder apoyar a la comunidad"}
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<style>
  [astro-icon] {
    color: white;
    width: 1.25rem;
    height: 1.25rem;
  }
</style>
